.navbar {
  display: flex;
  width: 100%;
  color: white;
  font-size: 32px;
  margin-top: -20px;
  justify-content: space-between;
}

.links {
  display: flex;
  margin-top: 30px;
}

.links ul {
  display: flex;

  color: white;
  flex-wrap: wrap;
  text-decoration: none;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-family: monospace;
  font-size: 1.15rem;
  font-weight: 550;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 3px;
  margin-left: 50px;

}


.links li a:hover {
  box-shadow: inset 100px 0 0 0 #1cd68f;
  color: white;
}

/* @media (max-width: 416px) {

    .sun {
        margin-right: -30px;
    }
} */
