@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.form-container {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  text-align: center;
  font-family: "wotfardregular", sans-serif;

}

.form-title {
  font-size: 3rem;
  margin-top: 60px;
}

.form-attr {
  margin-top: 60px;
  font-size: 1.5rem;

}

.form-attr2 {
  padding-top: 20px;
}

.form-attr3 {
  padding-top: 20px;

}

.input-text{
  width: 20px;
}

span ~ span {
  padding-left: 15px;
}

.labels {
  padding-right: 5px;
}