.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  top: 36px;
  left: 15px;
}

.bm-burger-bars {
  background: whitesmoke;
}

.bm-burger-bars-hover {
  color: #000;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #262c3b;
  opacity: 0.95;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item {
  text-decoration: none;
  color: white;
  padding: 0.67rem;
  margin-left: -18px;
  font-family: monospace;
  font-size: 1.15rem;
  font-weight: 550;
  text-decoration: none;
  color: white;
}

.xD {
  display: none;
}

@media (max-width: 475px) {
  .xD {
    display: inline-block;
    position: absolute;
    top: 0%;
    right: 19%;
  }

  .menu-item a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-family: monospace;
    font-size: 1.15rem;
    font-weight: 550;
    text-decoration: none;
    color: white;
  }
}
