.bio {
    color: white;

    
}

.Title-Test {
    color: white;
    font-size: 5rem;
    font-family: "wotfardregular", sans-serif;
    text-align: center;
}
.Bio-Container-Teste{

    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 5%;
}

.res-img {
    max-width: 50%;
}

.flx {
    width: 50px;
}