body { 
  margin: 0;
  padding: 0;
  background-color: #0f1117;
  height: 100vh;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
